body{

    font-family: 'Permanent Marker', cursive;
/*    background-image:url(../images/background_01.jpg)*/
}

header{
    overflow:hidden;
    border:0.5vmax solid black;
    border-bottom:0;
    border-radius:1vw 1vw 0 0;
    margin:2vh 20vw 0 20vw;
    width:60vw;
    height:6vh;
   background:white;
 
}

h1{

letter-spacing:0.8vw;
padding:0;
margin:0;
text-align:center;
line-height:6vh;
font-size:5vh;}

nav{
overflow:hidden;
border-radius:2vh 2vh 0 0;
margin:0 14vw;
background:black;
text-align:center;
width:72vw;
height:4vh;
}

h1{
    
}

h1:hover{
   color:white;
    background:black;
}
h1 a{
    text-decoration:none;
    color:black;
    
}

h1 a:hover{
    background:black;
    color:white;
}
h2{ 

    padding:25vh 10vw 10vh 10vw;
    font-size:5vmax;
}

h3{
font-size:5vmin;
}
nav ul{
     list-style-type: none;
    margin: 0;
    padding: 0;
   
}

nav ul li{
    cursor:pointer;
    cursor:hand;
    z-index:100;
    letter-spacing:0.5vw;
    overflow:hidden;
    position:relative;
    top:0.5vh;
    border-bottom:0;
    border-radius:1vh 1vh 0 0;
    background:white;
    margin:0;
    padding:0.7vh 0.5vw 2vh;
    font-size:3vmin;
    line-height:2vmin;
    width:22.5vw;
    height:3vh;
    display:inline-block;
}

nav ul li:first-child{
    margin-left:0.5vw;
    float:left;
}

nav ul li:last-child{
    margin-right:0.5vw;
    float:right;
}
nav ul li:hover{
    color:white;
    background:black;
    border-color:black;
  
}


main{
    overflow:hidden;
    text-align:center;
    border:0.5vmax solid black;
    border-radius:2vw;
    margin:0 10vw;
    width:80vw;
    height:80vh;
    background-color:white;
    text-align:center;
    float:left;
  

   
}

#gallery_parent{
    border:0.5vmax solid black;
    border-radius:1vw;
    position:relative;
    top:2vh;
    left:1vw;
    background-color:white;
/*   background-image:url(../images/background_02.jpg);*/
    width:77vw;
    height:75vh;

}
#thumb_scroller{
    overflow-x:hidden;
    overflow-y:scroll;
    text-align:center;
    padding:2vh 0 1vh 3vw;
    display:inline-block;
    float:left;
    margin: 2vh 1vw 2vh 2vw;
    border:0.5vh solid black;
    width:13vw;
    height:68vh;
    border-radius:2vw;
    background-color:white;
    
}

.thumbnail{
    list-style:none;
    cursor:pointer;
    cursor:hand;
    margin:2vh 0;
    display:block;
    padding:0;
    width:10vw;
    height:10vw;
    overflow:hidden;
    position:relative;
    
    
}


#gallery{
    float:right;
    height:65vh;
    width:50vw;
    position:relative;
    bottom:68vh;
    background:none;
    
}





footer{
  
    text-align:center;
    position:relative;
    bottom:0.5vh;
    z-index:-50;
    border-radius:0 0 1vw 1vw;
    border:0.5vmax solid black;
    overflow:hidden;
    margin:0 30vw;
    background:white;
    float:left;
    clear:all;
    width:40vw;
    height:4vh;
    
}

footer a{
    font-size:1.5vmax;
    padding:0 1.5vw;
    color:black;
    text-decoration:none;
}

footer a:hover{
color:darkgray;
}

.gallery{
    position:relative;
    top:1vh;
    right:5vw;
    max-width:50vw;
    max-height:60vh;
    height:auto;
   
};



#scroller{
   background:none;
    width:16vw;
    height:68vh;
    margin:3vh 2vw;
    padding:0;
    overflow-y:scroll;
}

#home{
    letter-spacing:1vw;
    font-size:15vmin;
    margin:25vh 0 0 0;
}


#contact{
    margin:15vh 10vw;
    font-size:5vmin;
    line-height:10vmin;
}



#author{
    font-size:2vmin;
    z-index:-100;
    position:absolute;
    bottom:1vh;
    right:1vh;
}


#caption{
   
    font-size:2min;
    background:white;
height:18vh;
width:12vw;
position:absolute;
right:90vw;
bottom:30vh;

}